matplotlib==3.8.4
nbformat==5.10.4
networkx==3.3
numpy==1.26.4
pandas==2.2.3
tqdm==4.66.4
transformers==4.41.2
watchdog==6.0.0
astpretty==3.0.0
ipykernel==6.29.5
seaborn==0.13.2
python-dotenv==1.0.1
fasttext==0.9.3
instructor 
groq
pydantic==2.10.6
wandb==0.19.8
dotenv==0.9.9
scikit-learn==1.6.1
jupyter